.footer {
    width: 100%;
    padding: 2rem;
    background-color: rgba(19, 19, 19, 0.8);
}

.center {
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


p {
    font-size: 1.2rem;
}

@media screen and (max-width: 640px){
    p {
        font-size: 1rem;
    }
}